<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги | «Печать»</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<header class="navbar">
    <div class="navbar__button"><a th:href="@{/}" class="img-button"></a> </div>
    <ul class="navbar-menu">
        <li class="navbar-menu__item"><a class="active" th:href="@{/books}">Книги</a></li>
        <li class="navbar-menu__item"><a th:href="@{/writers}">Писатели</a></li>
        <li class="navbar-menu__item"><a th:href="@{/contracts}">Контракты</a></li>
        <li class="navbar-menu__item"><a th:href="@{/customers}">Заказчики</a></li>
        <li class="navbar-menu__item"><a th:href="@{/orders}">Заказы</a></li>
    </ul>
    <a class="navbar__profile" >Войти</a>
</header>

<main class="content">
    <div class="books-table">
        <div class="table-wrapper">
            <a th:href="@{/books/create}" class="button button-add">
                <p>Добавить</p><img src="/icon/ic_add.svg"/>
            </a>
            <table class="table">
                <thead>
                <th>ISBN</th>
                <th style="width:30%">Название</th>
                <th>Тираж</th>
                <th>Дата печати</th>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td>
                        <a th:text="${book.getISBN()}"
                           th:href="@{/books/{id}(id=${book.getId()})}"></a>
                    </td>

                    <td>
                        <a class="break-table-cell" th:text="${book.getTitle()}"/>
                    </td>

                    <td th:text="${book.getCirculation()}"/>
                    <td th:text="${book.getIssueDate()}"/>
                </tr>
                </tbody>
            </table>
            <p class="empty-hint" th:if="${books.isEmpty()}">Данные о книгах отсутствуют</p>
        </div>
    </div>
</main>
</body>
</html>