<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Книга</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="stylesheet" href="/orders.css" type="text/css">
</head>
<body>
<header class="navbar">
  <div class="navbar__button"><a th:href="@{/}" class="img-button"></a> </div>
  <ul class="navbar-menu">
    <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/books}">Книги</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" class="navbar-menu__item"><a th:href="@{/writers}">Писатели</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" class="navbar-menu__item"><a th:href="@{/contracts}">Контракты</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/customers}">Заказчики</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/orders}">Заказы</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/report}">Отчет</a></li>
  </ul>
  <div class="navbar__profile">
    <img src="/icon/user.svg"/>
    <p class="welcome" sec:authorize="hasRole('ADMIN')">Администратор</p>
    <p class="welcome" sec:authorize="hasRole('MANAGER')">Менеджер отдела продаж</p>
    <p class="welcome" sec:authorize="hasRole('EDITOR')">Ведущий редактор</p>
    <form th:method="POST" th:action="@{/logout}">
      <input type="submit" value="Выйти">
    </form>
  </div>
</header>

<form id="book-form" th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" hidden></form>
<main class="content" >
  <section class="info book__info">
    <h2 class="info__title">Книга</h2>
    <hr>

    <div class="info__field">
      <div class="properties">
        <p class="hint">ID</p><p th:text="${book.getId()}"></p>
      </div>
    </div>

    <div class="info__field">
      <p class="title">Общая информация</p>
      <div class="properties">
        <p class="hint">ISBN</p><p th:text="${book.getISBN()}"/>
        <p class="hint">Название</p><p class="properties__field" th:text="${book.getTitle()}"/>
        <p class="hint">Тираж</p><p th:text="${book.getCirculation()} + ' экз.'"></p>
        <p class="hint">Дата печати</p><p th:text="${#temporals.format(book.getIssueDate(),'dd.MM.yyyy')}"/>
      </div>
    </div>

    <div class="info__field">
      <p class="title">Цена</p>
      <div class="properties">
        <p class="hint">Себестоимость</p><p th:text="${book.getCostPrice()} + ' руб.'"></p>
        <p class="hint">Цена продажи</p><p th:text="${book.getSellingPrice()} + ' руб.'"></p>
        <p class="hint">Гонорар</p><p th:text="${book.getAbsoluteFee()} + ' тыс. руб.'"></p>
      </div>
    </div>

    <div class="info__buttons" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
      <a class="button" th:href="@{/books/{id}/edit(id=${book.getId()})}">Изменить</a>
      <input form="book-form" type="submit" value="Удалить">
    </div>
  </section>

  <section class="info" th:with="orders=${book.getOrders()}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
    <h2 class="info__title">Заказы</h2>
    <hr>

    <p th:if="${orders.isEmpty()}" class="empty-hint">На данную книгу нет заказов</p>
    <table class="orders-table" th:unless="${orders.isEmpty()}">
      <thead>
      <tr class="head">
        <th style="width:30%" >Номер заказа</th>
        <th style="width: 30%">Заказчик</th>
        <th>Количество экземпляров</th>
        <th>Дата поступления</th>
        <th>Дата завершения</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="stroke" th:each="order : ${orders}">
        <td><a class="break-table-cell" th:text="${order.getOrderNumber()}"/></td>
        <td class="break-table-cell">
          <a style="word-break: break-word" th:if="${order.getCustomer() != null}"
               th:text="${order.getCustomer().getCompany()}"
               th:href="@{/customers/{id}(id=${order.getCustomer().getId()})}"/>
        </td>
        <td th:text="${order.getBooksCount()}"/>
        <td th:text="${order.getCreateDate()}"/>
        <td th:text="${order.getFinishDate()}"/>
        <td><a class="button" th:href="@{/orders/{id}(id=${order.getId()})}">Перейти</a></td>
      </tr>
      </tbody>
    </table>
    <a class="go-to-link" th:href="@{/orders}">Все</a>
  </section>

  <section id="writers" class="info" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
    <h2 class="info__title">Авторы</h2>
    <a class="go-to-link" th:href="@{/writers}">Все</a>
    <hr>
    <form class="select-card-form" th:unless="${writers.isEmpty()}"
          th:method="PATCH" th:action="@{/books/{id}/writers(id=${book.getId()})}">

      <select style="width: 60%;" name="selectedWriterId">
        <option value="" selected>Выбрать писателя</option>
        <option th:each="writer : ${writers}" th:value="${writer.getId()}"
                th:text="${writer.getFullName().initials()} + ' - ' + 'Номер контракта: '+ ${writer.getContract().getContractNumber()}"/>
      </select>
      <input type="submit" value="Добавить"/>
    </form>
    <div class="card-wrapper">
      <p th:if="${book.getWriters().isEmpty()}" class="empty-hint">У данной книги нет авторов</p>
      <div th:unless="${book.getWriters().isEmpty()}"
           th:each="writer : ${book.getWriters()}"
           class="info__field ">

        <div class="card">
          <form th:method="DELETE"
                id="delete-writer-form" hidden
                th:action="@{/books/{id}/writers/{writerId}(id=${book.getId()},writerId=${writer.getId()})}">
          </form>

          <p class="properties__field" th:text="${writer.getFullName().initials()}"/>

          <div class="button-container">
            <a class="button" th:href="@{/writers/{id}(id=${writer.getId()})}">Посмотреть</a>
            <input form="delete-writer-form" type="submit" value="Удалить">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>