<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги | «Печать»</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<main class="content">
    <div class="books-table">
        <div class="table-wrapper">
            <a th:href="@{/books/create}" class="button button-add">
                <p>Добавить</p><img src="/icon/ic_add.svg"/>
            </a>
            <table class="table">
                <thead>
                <th>ISBN</th>
                <th>Название</th>
                <th>Тираж</th>
                <th>Дата печати</th>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td>
                        <a th:text="${book.getISBN()}"
                           th:href="@{/books/{id}(id=${book.getId()})}"></a>
                    </td>

                    <td>
                        <a th:text="${book.getTitle()}"/>
                    </td>

                    <td th:text="${book.getCirculation()}"/>
                    <td th:text="${book.getIssueDate()}"/>
                </tr>
                </tbody>
            </table>
            <p class="empty-hint" th:if="${books.isEmpty()}">Данные о книгах отсутствуют</p>
        </div>
    </div>
</main>
</body>
</html>