.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.book{
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    border: 0.5px solid #c5c5c5;
}
.book .book__title{
    font-family: "Roboto Medium", sans-serif;
}
.book .book__title:before{
    content: "«";
}
.book .book__title:after{
    content: "»";
}
.book > .button-container{
    margin-top: 20px;
}
.book .properties-table{
    grid-template-columns: 50px auto;
    text-align: left;
}
.select-book-form{
    margin-top: 10px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.select-book-form select{
    outline: none;
    border-radius: 4px;
    border: 0.5px solid #c5c5c5;
    color: #c5c5c5;
    font-size: 12px;
    font-family: "Roboto Light", sans-serif;
    transition: all .3s ease;
    padding: 4px 10px;
}
.select-book-form select:hover{
    color:black;
    border-color: black;
}
.select-book-form select:focus{
    border-color: #6c5ce7;
}