<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказчики | «Печать»</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<header class="navbar">
    <div class="navbar__button"><a th:href="@{/}" class="img-button"></a> </div>
    <ul class="navbar-menu">
        <li class="navbar-menu__item"><a th:href="@{/books}">Книги</a></li>
        <li class="navbar-menu__item"><a th:href="@{/writers}">Писатели</a></li>
        <li class="navbar-menu__item"><a th:href="@{/contracts}">Контракты</a></li>
        <li class="navbar-menu__item"><a class="active" th:href="@{/customers}">Заказчики</a></li>
        <li class="navbar-menu__item"><a th:href="@{/orders}">Заказы</a></li>
    </ul>
    <a class="navbar__profile" >Войти</a>
</header>
<main class="content">
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 25%" class="break-table-cell">Компания</th>
                <th>Представитель</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td>
                    <a style="word-break: break-word" th:text="${customer.getCompany()}"
                       th:href="@{/customers/{id}(id=${customer.getId()})}"></a>
                </td>
                <td class="break-table-cell" style="width: 25%;" th:text="${customer.getOwnerFullName().initials()}"></td>
                <td class="break-table-cell" style="width: 30%" th:text="${customer.getAddress()}"></td>
                <td th:text="${customer.getPhoneNumber()}"></td>
            </tr>
            </tbody>
        </table>
        <p class="empty-hint" th:if="${customers.isEmpty()}">Данные о заказчиках отсутствуют</p>
    </div>
</main>
</body>
</html>