<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Регистрация заказа</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="/orders.css" type="text/css">
</head>
<body onload="setMin('booksCount')">
<main class="content">
    <section class="form">
        <a class="button-close" th:href="@{/orders}"></a>

        <form class="create-form"
              th:method="POST"
              th:action="@{/orders}"
              th:object="${request}">

            <div class="wrapper order-wrapper">
                <div class="wrapper">
                    <h3 class="subfield__title">Данные заказа</h3>
                    <div th:class="form__fields">
                        <label for="orderNumber">Номер заказа:</label>
                        <input id="orderNumber" type="text"th:field="*{order.orderNumber}" />
                        <div class="simple-error"
                             th:if="${#fields.hasErrors('order.orderNumber')}">
                            <p th:each="error : ${#fields.errors('order.orderNumber')}" th:text="${error}"/>
                        </div>

                        <label for="createDate">Дата создания:</label>
                        <input id="createDate" type="date"
                               onchange="setMinFinishDate()"
                               th:field="*{order.createDate}"/>
                        <div class="simple-error"
                             th:if="${#fields.hasErrors('order.createDate')}">
                            <p th:each="error : ${#fields.errors('order.createDate')}" th:text="${error}"/>
                        </div>

                        <label for="finishDate">Дата завершения:</label>
                        <input id="finishDate" type="date" th:field="*{order.finishDate}"/>
                        <div class="simple-error" th:if="${#fields.hasErrors('order.finishDate')}">
                            <p th:each="error : ${#fields.errors('order.finishDate')}" th:text="${error}"/>
                        </div>
                    </div>
                </div>

                <div class="wrapper">
                    <h3 class="subfield__title">Заказчик</h3>
                    <div class="emerging order-field order-row-field"
                         id="choose-customer-form"
                         th:style="${#fields.hasErrors('customer.*') &&
                          (selectedCustomerId == null || selectedCustomerId.isEmpty())} ?
                         'display:none' :
                         'display:flex'">
                        <select name="selectedCustomerId">
                            <option id="defaultSelectCustomer" value=""
                                    th:selected="${selectedCustomerId == null || selectedCustomerId.isEmpty()}">Выбрать заказчика</option>
                            <option th:each="customer : ${customers}" th:value="${customer.getId()}"
                                    th:selected="${selectedCustomerId != null && customer.getId().equals(selectedCustomerId)}"
                                    th:text="${customer.getCompany()} + ' - ' + 'Представитель: '+ ${customer.getOwnerFullName().initials()}"/>
                        </select>
                        <p class="or">Или</p>
                        <a class="button" onclick="showCreateCustomerForm()">Зарегистрировать заказчика</a>
                    </div>
                    <div class="emerging order-field"
                         id="create-customer-form"
                         th:style="${#fields.hasErrors('customer.*') &&
                          (selectedCustomerId == null || selectedCustomerId.isEmpty())} ?
                         'display:flex' :
                         'display:none' ">
                        <div class="form__fields">
                            <label for="company">Компания:</label>
                            <input id="company"
                                   type="text"
                                   maxlength="64"
                                   th:field="*{customer.company}">
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.company') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}">
                                <p th:each="error : ${#fields.errors('customer.company')}" th:text="${error}"/>
                            </div>

                            <label for="address">Адрес:</label>
                            <input id="address"
                                   type="text"
                                   maxlength="128"
                                   th:field="*{customer.address}"/>
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.address') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}">
                                <p th:each="error : ${#fields.errors('customer.address')}" th:text="${error}"/>
                            </div>

                            <p style="font-weight: bold; margin-top: 20px;">Представитель</p><p></p>
                            <label for="surname">Фамилия:</label>
                            <input id="surname"
                                   type="text"
                                   maxlength="64"
                                   oninput="setCorrectFioField('surname')"
                                   th:field="*{customer.ownerFullName.surname}"/>
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.ownerFullName.surname') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}">
                                <p th:each="error : ${#fields.errors('customer.ownerFullName.surname')}"
                                   th:text="${error}"/>
                            </div>

                            <label for="name">Имя:</label>
                            <input id="name"
                                   type="text"
                                   oninput="setCorrectFioField('name')"
                                   maxlength="64"
                                   th:field="*{customer.ownerFullName.name}"/>
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.ownerFullName.name') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}">
                                <p th:each="error : ${#fields.errors('customer.ownerFullName.name')}" th:text="${error}"/>
                            </div>

                            <label for="patronymic">Отчество:</label>
                            <input id="patronymic"
                                   type="text"
                                   oninput="setCorrectFioField('patronymic')"
                                   maxlength="64"
                                   th:field="*{customer.ownerFullName.patronymic}"/>
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.ownerFullName.patronymic') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}">
                                <p th:each="error : ${#fields.errors('customer.ownerFullName.patronymic')}" th:text="${error}"/>
                            </div>

                            <label for="phoneNumber">Номер телефона:</label>
                            <input id="phoneNumber"
                                   type="text"
                                   placeholder="+7 (000) 000-00-00"
                                   th:field="*{customer.phoneNumber}"/>
                            <div class="simple-error"
                                 th:if="${#fields.hasErrors('customer.phoneNumber') &&
                                 selectedCustomerId != null &&
                                 selectedCustomerId.isEmpty()}" >
                                <p th:each="error : ${#fields.errors('customer.phoneNumber')}" th:text="${error}"/>
                            </div>
                        </div>
                        <a class="button" onclick="showChooseCustomerForm()">Выбрать из списка...</a>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <h3 class="subfield__title">Книга</h3>
                <select name="selectedBookId">
                    <option th:each="book,index : ${books}"
                            th:selected="${selectedBookId != null && selectedBookId.isEmpty()} ?
                            ${index.first}:
                            ${book.getId().equals(selectedBookId)}"
                            th:value="${book.getId()}"
                            th:text="${book.getTitle()} + ' - ' + 'ISBN: '+ ${book.getISBN()}"/>
                </select><br>
                <div class="form__fields">
                    <label for="booksCount">Количество: книг</label>
                    <input id="booksCount" type="number"
                           min="1"
                           oninput="setMin('booksCount'); setMax('booksCount'); numericField('booksCount')"
                           value="1"
                           max="10000"
                           th:field="*{order.booksCount}">
                    <div class="simple-error" th:if="${#fields.hasErrors('order.booksCount')}">
                        <p th:each="error : ${#fields.errors('order.booksCount')}" th:text="${error}"/>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <input class="button" type="submit" value="Добавить">
                <a class="button" th:text="Отмена" th:href="@{/orders}"/>
            </div>
        </form>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src="/js/script.js"></script>
</body>
</html>