<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="/orders.css" type="text/css">
</head>
<body>
<header class="navbar">
    <div class="navbar__button"><a th:href="@{/}" class="img-button"></a> </div>
    <ul class="navbar-menu">
        <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/books}">Книги</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" class="navbar-menu__item"><a th:href="@{/writers}">Писатели</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" class="navbar-menu__item"><a th:href="@{/contracts}">Контракты</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/customers}">Заказчики</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/orders}">Заказы</a></li>
        <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'MANAGER')" class="navbar-menu__item"><a th:href="@{/report}">Отчет</a></li>
    </ul>
    <div class="navbar__profile">
        <img src="/icon/user.svg"/>
        <p class="welcome" sec:authorize="hasRole('ADMIN')">Администратор</p>
        <p class="welcome" sec:authorize="hasRole('MANAGER')">Менеджер отдела продаж</p>
        <p class="welcome" sec:authorize="hasRole('EDITOR')">Ведущий редактор</p>
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" value="Выйти">
        </form>
    </div>
</header>
<form id="order-form" th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}" hidden></form>
<main class="content" >
    <section class="info order__info">
        <h2 class="info__title">Заказ</h2>
        <hr>

        <div class="info__field">
            <div class="properties">
                <p class="hint">ID</p><p th:text="${order.getId()}"></p>

                <p class="hint">Номер заказа</p><p th:text="${order.getOrderNumber()}"/>

                <p class="hint">Дата поступления</p><p
                    th:text="${#temporals.format(order.getCreateDate(),'dd.MM.yyyy')}"/>

                <p class="hint">Дата выполнения</p>
                <p th:if="${order.getFinishDate()!=null}" th:text="${#temporals.format(order.getFinishDate(), 'dd.MM.yyyy')}"/>
                <p th:if="${order.getFinishDate() == null}" class="text-red">Не окончен</p>
            </div>
        </div>

        <div class="info__field">
            <p class="title">Книга</p>
            <table class="orders-table">
                <thead>
                    <tr class="head">
                        <th>ISBN-книги</th>
                        <th>Количество экземпляров</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr class="stroke" th:with="book=${order.getBook()}">
                    <td th:text="${book.getISBN()}"/>
                    <td th:text="${order.getBooksCount()}"/>
                    <td><a class="button" th:href="@{/books/{id}(id=${book.getId()})}">Перейти</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="info__buttons">
            <a class="button" th:href="@{/orders/{id}/edit(id=${order.getId()})}">Изменить</a>
            <input form="order-form" type="submit" value="Удалить">
        </div>
    </section>

    <section class="info" th:with="customer=${order.getCustomer()}">
        <h2 class="info__title">Заказчик</h2>
        <hr/>
        <div class="info__field">
            <div class="properties">
                <p class="hint">ID</p><p th:text="${customer.getId()}"></p>
            </div>
        </div>
        <div class="info__field">
            <div class="properties">
                <p class="hint">Компания</p><p th:text="${customer.getCompany()}"></p>
                <p class="hint">Представитель</p><p th:text="${customer.getOwnerFullName().initials()}"></p>
                <p class="hint">Адрес</p><p class="properties__field" th:text="${customer.getAddress()}"></p>
                <p class="hint">Телефон</p><p th:text="${customer.getPhoneNumber()}"></p>
            </div>
        </div>

        <a class="go-to-link" th:href="@{/customers/{id}(id=${customer.getId()})}">Перейти</a>
    </section>
</main>
</body>
</html>