<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация писателя</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body onload="updateFinishDate(); setMin('duration')">
<main class="content">
    <section class="form">
        <a class="button-close" th:href="@{/writers}"></a>

        <form class="create-form"
              th:method="POST"
              th:action="@{/writers}"
              data-th-object="${writer}">

            <div class="wrapper">
                <h3 class="subfield__title">Данные о писателе</h3>
                <div class="form__fields">
                    <label for="surname">Фамилия:</label>
                    <input id="surname"
                           type="text"
                           oninput="setCorrectFioField('surname')"
                           maxlength="64"
                           th:field="*{fullName.surname}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('fullName.surname')}">
                        <p th:each="error : ${#fields.errors('fullName.surname')}"
                           th:text="${error}"/>
                    </div>

                    <label for="name">Имя:</label>
                    <input id="name"
                           type="text"
                           oninput="setCorrectFioField('name')"
                           maxlength="64"
                           th:field="*{fullName.name}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('fullName.name')}">
                        <p th:each="error : ${#fields.errors('fullName.name')}"
                           th:text="${error}"/>
                    </div>

                    <label for="patronymic">Отчество:</label>
                    <input id="patronymic"
                           type="text"
                           th:field="*{fullName.patronymic}"
                           oninput="setCorrectFioField('patronymic')"
                           maxlength="64"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('fullName.patronymic')}">
                        <p th:each="error : ${#fields.errors('fullName.patronymic')}"
                           th:text="${error}"/>
                    </div>

                    <label for="address">Адрес:</label>
                    <input id="address"
                           type="text"
                           maxlength="128"
                           th:field="*{address}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('address')}">
                        <p th:each="error : ${#fields.errors('address')}"
                           th:text="${error}"/>
                    </div>

                    <label for="phoneNumber">Номер телефона:</label>
                    <input id="phoneNumber"
                           type="text"
                           placeholder="+7 (000) 000-00-00"
                           th:field="*{phoneNumber}"
                    />
                    <div class="simple-error" th:if="${#fields.hasErrors('phoneNumber')}">
                        <p th:each="error : ${#fields.errors('phoneNumber')}"
                           th:text="${error}"/>
                    </div>

                    <label for="passportSeries">Серия паспорта:</label>
                    <input id="passportSeries"
                           type="text"
                           minlength="4"
                           maxlength="4"
                           oninput="numericField('passportSeries')"
                           th:field="*{passportSeries}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('passportSeries')}">
                        <p th:each="error : ${#fields.errors('passportSeries')}"
                           th:text="${error}"/>
                    </div>

                    <label for="passportId">Номер паспорта:</label>
                    <input id="passportId"
                           type="text"
                           minlength="6"
                           maxlength="6"
                           oninput="numericField('passportId')"
                           th:field="*{passportId}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('passportId')}">
                        <p th:each="error : ${#fields.errors('passportId')}"
                           th:text="${error}"/>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <h3 class="subfield__title">Данные контракта</h3>
                <div class="form__fields">
                    <label for="contractNumber">Номер договора:</label>
                    <input id="contractNumber"
                           type="text"
                           maxlength="64"
                           th:field="*{contract.contractNumber}"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('contract.contractNumber')}">
                        <p th:each="error : ${#fields.errors('contract.contractNumber')}"
                           th:text="${error}"/>
                    </div>

                    <label for="createDate">Дата заключения:</label>
                    <input id="createDate"
                           type="date"
                           th:field="*{contract.createDate}"
                           onchange="updateFinishDate()"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('contract.createDate')}">
                        <p th:each="error : ${#fields.errors('contract.createDate')}"
                           th:text="${error}"/>
                    </div>

                    <label id="duration-label" for="duration" >Длительность контракта:</label>
                    <input id="duration" type="number"
                           min="1"
                           max="100"
                           th:field="*{contract.duration}"
                           oninput="updateFinishDate(); setMin('duration'); setMax('duration')"/>
                    <div class="simple-error" th:if="${#fields.hasErrors('contract.duration')}">
                        <p th:each="error : ${#fields.errors('contract.duration')}"
                           th:text="${error}"/>
                    </div>

                    <label id="finishDate-label" for="finishDate">Дата расторжения:</label>
                    <input id="finishDate"
                           type="date"
                           th:field="*{contract.finishDate}"
                           readonly/>
                    <div class="simple-error" th:if="${#fields.hasErrors('contract.finishDate')}">
                        <p th:each="error : ${#fields.errors('contract.finishDate')}"
                           th:text="${error}"/>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <input class="button" type="submit" value="Добавить">
                <a class="button" th:text="Отмена" th:href="@{/writers}"/>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    </section>
</main>
<script src="/js/script.js"></script>
</body>
</html>