<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка сервиса Заказов</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
<main class="content error-content">
    <img class="vaultboy" src="/animated/vaultboy.gif">
    <div class="error-text">
        <p>К сожалению, сервис заказов сейчас не доступен.</p>
        <p>Сервис продолжит свою работу, когда появятся новые книги.</p>
    </div>
    <a th:href="@{/}">Перейти на главную</a>
</main>

</body>
</html>