<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Издательский центр «Печать» | Главная</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__button"><a th:href="@{/}" class="img-button"></a> </div>
        <ul class="navbar-menu">
            <li class="navbar-menu__item"><a th:href="@{/books}">Книги</a></li>
            <li class="navbar-menu__item"><a th:href="@{/writers}">Писатели</a></li>
            <li class="navbar-menu__item"><a th:href="@{/contracts}">Контракты</a></li>
            <li class="navbar-menu__item"><a th:href="@{/customers}">Заказчики</a></li>
            <li class="navbar-menu__item"><a th:href="@{/orders}">Заказы</a></li>
            <li class="navbar-menu__item"><a th:href="@{/report}">Отчет</a></li>
        </ul>
        <a class="navbar__profile" >Войти</a>
    </header>

    <main class="content">
        <section class="main-section">
            <h1 class="welcome">Добро пожаловать</h1>
            <ul class="main-menu">
                <li class="main-menu__item"><img src="/icon/books.svg" alt="books"/><a th:href="@{/books}">Книги</a></li>
                <li class="main-menu__item"><img src="/icon/writer.png" alt="writers"/><a th:href="@{/writers}">Писатели</a></li>
                <li class="main-menu__item"><img src="/icon/contract.svg" alt="contracts"/><a th:href="@{/contracts}">Контракты</a></li>
                <li class="main-menu__item"><img src="/icon/customers.png" alt="customers"/><a th:href="@{/customers}">Заказчики</a></li>
                <li class="main-menu__item"><img src="/icon/orders.svg" alt="orders"/><a th:href="@{/orders}">Заказы</a></li>
                <li class="main-menu__item"><img src="/icon/report.svg" alt="orders"/><a th:href="@{/report}">Отчет</a></li>
            </ul>
        </section>
    </main>
</body>
</html>