<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Издательский центр «Печать» | Главная</title>
</head>
<body>
    <header class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-menu__item"><a>Книги</a></li>
            <li class="navbar-menu__item"><a>Писатели</a></li>
            <li class="navbar-menu__item"><a>Контракты</a></li>
            <li class="navbar-menu__item"><a>Заказчики</a></li>
            <li class="navbar-menu__item"><a>Заказы</a></li>
        </ul>
        <a class="navbar__profile">Войти</a>
    </header>
</body>
</html>